<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-header">
        <%= render 'search_form' %>
      </div>
      <div class="card-body">
        <%= render 'receipts_list' %>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){

    $("#payment_status").val("<%= params[:status] || 'all' %>");

    function setSearchParams() {
      var query_params = '';
      var car = $("#search_by_car_no").val();
      var status = $("#payment_status").val();
      var receipt_id = $("#search_by_receipt_id").val();
      if (car) {
        query_params = query_params + '?car=' + car;
      }
      if (status) {
        query_params = query_params != '' ? (query_params + '&status=' + status) : (query_params + '?status=' + status)
      }
      if (receipt_id) {
        query_params = query_params != '' ? (query_params + '&receipt_id=' + receipt_id) : (query_params + '?receipt_id=' + receipt_id)
      }
      window.location.href = location.pathname + query_params;
    }

    $('#body_layer').on("click", "#search_button", function(evt) {
      setSearchParams();
    });

    $('#body_layer').on("keypress", "#search_by_car_no", function(evt) {
      var charCode = (evt.which) ? evt.which : evt.keyCode
      if (charCode == 13 && $("#search_by_car_no").val()) {
        setSearchParams();
      }
    });

    $('#body_layer').on("keypress", "#search_by_receipt_id", function(evt) {
      var charCode = (evt.which) ? evt.which : evt.keyCode
      if (charCode == 13 && $("#search_by_receipt_id").val()) {
        setSearchParams();
      }
    });

    $('#body_layer').on("change", "#payment_status", function(evt) {
      setSearchParams();
    });

  });
</script>
