<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="card-header">
          <span class="display-4 text-primary">Dashboard</span>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Year</th>
              <th>Paid</th>
              <th>Due</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <% @reports.each do |year, records| %>
                <%- total_due = records.sum(&:due) %>
                <%- total = records.sum(&:total) %>
              <tr>
                <td>
                  <%= year %>
                </td>
                <td><%= total - total_due %></td>
                <td><%= total_due %></td>
                <td><%= total %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
